.container{
	text-align: center;
}

header{
    display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 10vh;
}

header img{
	width: 50px;
	cursor: pointer;
	
	@media(max-width: 800px){
		width: 30px;
	}
}

header h1{
	@media(max-width: 800px){
		font-size: 13pt;
	}
}

.sectionOne{
    display: flex;
	align-items: center;
	text-align: left;
	justify-content: space-between;
	padding: 0 10px;
	background-color: rgb(175, 168, 168);
    line-height: 5vh;
	border-radius: 10px;
}

.sectionOne .edit{
    width: 25px;
    cursor: pointer
}

.sectionTwo .restaurante{
	color: red;
	font-size: 15pt;
}

.card{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border: 1px solid;
	border-radius: 10px;
	margin: 10px;
	padding-right: 5px;

	@media(max-width: 600px){
		flex-direction: column;
	}
}

.card .picture{
	width: 120px;
	height: 170px;
	border-radius: 10px;	
	
	@media(max-width: 600px){
		width: 100%;
	}
}

.card .section{
	background-color: rgba(175, 168, 168, 0.5);
	text-align: center;
	border-radius: 10px;
	width: 50%;
	padding: 10px;
	line-height: 4vh;

	@media(max-width: 600px){
		width: 95%;
		margin: 5px 0;
		line-height: 5vh;
	}
}

.card button{
	border-radius: 10px;
	background-color: #e8222e;
	cursor: pointer;
	margin-right: 3vw;

	@media(max-width: 600px){
		margin: 10px;
		width: 80%;
	}
}

.final{
	margin: 5px;
	width: 80vw;
	height: 7vh;
	font-weight: bold;
	font-size: 13pt;
	background-color: #e8222e;
	border: none;
	cursor: pointer;

	@media(max-width: 800px){
		font-size: 12pt;
	}
}

#purchase:hover{
	color: white;
}

#active-order:hover{
	color: white;
}

footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
}

footer img{
	cursor: pointer;
	width: 35px;
}