.container{
    margin: 23px;
	line-height: 6vh;
}

header{
    display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10vh;
}

header img{
    width: 50px;
	cursor: pointer;

    @media(max-width: 600px){
        width: 30px;
    }
}

.sectionOne{
    display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 10px;
	background-color: rgb(175, 168, 168);
    padding-left: 10px;
    line-height: 7vh;
}

.sectionOne .edit{
    width: 25px;
    cursor: pointer
}

.sectionTwo .restaurante{
	color: red;
	font-size: 15pt;
}

.card{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid;
	border-radius: 10px;
	margin: 10px;
	padding-right: 5px;

	@media(max-width: 600px){
		flex-direction: column;
	}
}

.card .picture{
	width: 120px;
	height: 170px;	
	border-radius: 10px;
	
	@media(max-width: 600px){
		width: 100%;
	}
}

.card .section{
	background-color: rgba(175, 168, 168, 0.5);
	text-align: center;
	width: 50%;
	padding: 10px;
	border-radius: 10px;
	line-height: 3vh;

	@media(max-width: 600px){
		width: 95%;
	}
}

.card button{
	border-radius: 10px;
	background-color: #e8222e;
	cursor: pointer;
	margin-right: 3vw;

	@media(max-width: 600px){
		margin: 10px;
		width: 80%;
	}
}

.final{
	margin: 5px;
	width: 88vw;
	height: 7vh;
	font-weight: bold;
	font-size: 13pt;
	background-color: #e8222e;
	border: none;
	cursor: pointer;

	@media(max-width: 800px){
		height: 5vh;
		font-size: 12pt;
	}
}

#purchase:hover{
	color: white;
}

#active-order:hover{
	color: white;
}

footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
}

footer img{
	cursor: pointer;
	width: 35px;
}