.container{
    text-align: center;
    margin-top: 5vh ;
}

.title{
    font-size: 1.5rem;
    margin: 10vh 0 5vh;
}

form{
    line-height: 10px;
}

input[type='email'], input[type='password']{
    width: 30vw;
    margin: auto;

    @media(max-width: 800px){
        width: 80vw;
    }
}

button{
    width: 30vw;

    @media(max-width: 800px){
        width: 80vw;
    }    
}

p{
    margin-top: 5vh;
}