.card{
    border: 1px solid red;
	width: 50vw;
	margin: auto;

	@media(max-width: 600px){
		width: 80vw;
	}    
}

#image{
    width: 50vw;
	height: 50vh;

	@media(max-width: 600px){
		width: 80vw;
	}
}

.card-products{
    display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid;
	border-radius: 10px;
	margin: 10px;

    @media(max-width: 770px){
		display: flex;
		flex-direction: column;
		padding: 10px;
	}
}

.card-products h4{
    color: red;
    margin-bottom: -10px;
}

.card-products button{
    background-color: #e8222e;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.picture{
    width: 100px;
	height: 130px;	
	border-radius: 10px;

	@media(max-width: 770px){
		width: 73vw;
		height: 25vh;
	}
}

#modalContainer{
	display: none;
	position: fixed;
	background-image: linear-gradient(to top,red, black);
	box-shadow: 3px 3px 7px black;
	border: 1px solid;
	width: 38vw;
	height: 15vh;
	border-radius: 20px;
	text-align: center;
	padding: 10px;
	color: whitesmoke;
	
	@media(max-width: 575px){
		height: 20vh;
		width: 80vw;

	}
}

.request{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px;
}

.request .btnContainer{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.request button{
	cursor: pointer;
	border-radius: 10px;
	background-color: #e8222e;
	margin: 5px;
}

footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
}

footer .header-icon{
	@media(max-width: 600px){
		width: 30px;
	}
}

footer img{
	cursor: pointer;
	width: 35px;
}

