.titulo{
    margin-top: 8vh;
	font-size: 1.4rem;
	margin-bottom: 3vh;
}

.formulario{
	line-height: 10vh;

	@media(max-width: 600px){
		line-height: 6vh;
	}
}

input{
	height: 7vh;
	width: 40vw;
	padding-left: 10px;
	font-size: 13pt;

	@media(max-width: 600px){
		width: 60vw;
		height: 4vh;
	}
}

.btn-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn-container input[type='button']{
	width: 41.5vw;
	height: 7vh;
	font-weight: bold;
	background-color: #e8222e;
	border: none;
	cursor: pointer;
	margin: 5px;

	@media(max-width: 600px){
		width: 63vw;
		height: 4vh;
	}
}

.btn-container input[type='button']:hover{
	color: white;
}

button{
	width: 41.5vw;
	height: 7vh;
	font-weight: bold;
	font-size: 13pt;
	background-color: #e8222e;
	border: none;
	cursor: pointer;
	margin: 5px;

	@media(max-width: 600px){
		width: 63vw;
		height: 4vh;
	}
}

button:hover{
	color: white;
}