header{
    display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10vh;
}

header img{
    width: 50px;
    cursor: pointer;

    @media(max-width: 600px){
        width: 30px;
    }
}

header h1{
    @media(max-width: 600px){
        font-size: 20px;
    }
}

form{
    line-height: 10vh;

	@media(max-width: 600px){
		line-height: 6vh;
	}
}

form input{
    height: 7vh;
    width: 40vw;
    padding-left: 10px;
    font-size: 13pt;

    @media(max-width: 600px){
        width: 60vw;
        height: 4vh;
    }
}

form button{
    width: 41.5vw;
    height: 7vh;
    font-weight: bold;
    font-size: 13pt;
    background-color: #e8222e;
    border: none;
    cursor: pointer;

    @media(max-width: 600px){
        width: 63vw;
        height: 4vh;
    }
}

form button:hover{
    color: white;
}