.container{
	line-height: 4vh;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0 10vh;	
}

header img{
	width: 50px;
	cursor: pointer;
	
	@media(max-width: 800px){
		width: 30px;
	}
}

header h1{
	@media(max-width: 800px){
		font-size: 13pt;
	}
}

.sectionOne{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.edit{
	width: 25px;
	cursor: pointer;
	margin-right: 10px;
}

.sectionTwo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	padding: 10px 10px 10px 0;
	background-color: rgb(175, 168, 168);
}

#edit .btnForm{
	background-color: #e8222e;
	border-radius: 10px;
	cursor: pointer;
}

#edit input[type='button']{
	background-color: #e8222e;
	border-radius: 10px;
	cursor: pointer;
}

.order-history{
	text-align: center;
	margin-top: 10vh;
}

#orders .orders{
	margin: 5px;
	border: 1px solid;
	border-radius: 10px;
	padding-left: 10px;
}

footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10vh;
}

footer img{
	cursor: pointer;
	width: 35px;
}